@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  box-sizing: border-box;
}

body {
  --page-gutter: clamp(1rem, 4vw, 2rem);
  font-family: system-ui, sans-serif;
  line-height: 1.4;
  margin: 0;
}


.cls-hide-display{
  display: none !important;
}

main {
  inline-size: min(70rem, 100% - var(--page-gutter) * 2);
  margin: 4rem auto;
}

.wrapper {
  display: flex;
  overscroll-behavior-x: contain;
  overflow-x: auto;
  margin-inline: calc(var(--page-gutter) * -1);
  padding-inline: var(--page-gutter);
  padding-block: 1rem;
}

h1 {
  line-height: 1.2;
}

h5 {
  font-family: Montserrat;
  display: flex;
  gap:5px;
  align-items: center;
  justify-content: center;
}
table {
  border-spacing: 0;
  overflow: hidden;
  inline-size: 100%;
  text-align: left;
  background-color: inherit;
  border: 1px solid lightgray;
  border-radius: 0.5rem;
  box-shadow: -1px -3px 24px -6px rgba(14, 30, 37, 0.12);
  text-align: center;
  font-size: 12px;
  white-space: nowrap;
}

:is(th, td) {
  padding: 0.3rem;
  border-block-end: 1px solid lightgray;
}

tfoot :is(th, td) {
  border-block-end: unset;
}

tfoot tr {
  background-color: whitesmoke;
}

:is(th, td):not(:first-child) {
  border-inline-start: 1px solid lightgray;
}

#total-amount {
  border-inline: none;
}

#accordion {
  margin-block-end: 30px;
}

#accordion .card {
  margin-block-start: 20px;
}

.cls-card-title button{
  font-family: Monserrat;
}

.card-body {
  transition: all 1s;
  overflow: hidden;
  overscroll-behavior-x: contain;
  overflow-x: auto;
  padding: 0;
}

.card-body .split-table {
  width: 98%;
  margin: 10px;
  margin-block: 10px;
  background-color: rgb(226, 236, 240);
}

.cls-header-expense-element {
  display: flex;
  gap: 20px;
  font-size: clamp(11px, 2vw, 14px);
  width: clamp(260px, 46vw, 320px);
  justify-content: space-between;
}

.card {
  box-shadow: 1px 4px 10px -8px black;
}

.cls-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-btn,
.card-btn:focus {
  color: black;
  text-decoration: none;
  padding: 0;
  padding-block-end: 1px;
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  font-size: clamp(13px, 2vw, 16px);
}

.bi {
  vertical-align: middle;
  /* transition: all 1s; */
}

.card-btn:hover {
  border-radius: none;
  text-decoration: none !important;
  color: rgb(59, 114, 116);
}

.cls-positive {
  color: rgb(151, 4, 4);
}

.cls-negative {
  color: rgb(2, 163, 2);
}

/* Media query */

@media screen and (max-width: 435px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 60%;
  }
}

/* Footer */

.cls-footer{
  font-size: 12px;
  display: flex;
  justify-content: space-between;
}


/* loader */

.cls-loader-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.cls-loader-wrapper button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  color: #333333;
  border: none;
  background: transparent;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem 2rem;
}

.cls-loader-wrapper button > svg {
  position: absolute;
  width: 100%;
  height: 100%;
}


.cls-loader-wrapper button > svg > rect {
  fill: none;
  stroke: #333333;
  stroke-width: 2px;
  stroke-dasharray: 240 160 240 160;
  stroke-dashoffset: 0;
  animation: pathRect 2s linear infinite;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
}


@keyframes pathRect {
  25% {
    stroke-dashoffset: 100;
  }

  50% {
    stroke-dashoffset: 200;
  }

  75% {
    stroke-dashoffset: 300;
  }

  100% {
    stroke-dashoffset: 400;
  }
}
